<header>
    <div class="logo">
        <a href="index.html"><img src="" alt="logo"></a>
        <div class="logo-text">Untitled UI</div>
    </div>
    <nav class="main">
        <ul>
            <li>
                <a href="#">testing</a>
                <a href="#">testing</a>
                <a href="#">testing</a>
            </li>
        </ul>
    </nav>

    <nav class="secondary">
        <ul>
            <li><a href="#">Login</a></li>
            <li>
                <button class="sign-up">sign up</button>
            </li>
        </ul>
    </nav>
</header>
